/*  naming the Congress Compact EUSUHM classes
    eus
    to differentiate them from the "eu" classes of the predecessor 
*/

:root {
    --color-main:       rgb(23, 207, 100);
    --color-main-light: #e6ffe1;
    --color-main-dark:  rgb(0, 129, 54);
    --color-orange:     #F29B74;
    --color-yellow:     #F3FB34;
    --color-yellow-light:     #fcffb2;

    --font-serif: SabonLTPro-Roman, Helvetica, Arial;
    --font-sans: NoahGrotesque-Medium, Georgia;
    /* position of main logo */
    --logo-top: 20px;
    --logo-left: 20px
}


html {
    scroll-behavior: smooth;
    /* color: #2e552e; */
}

/* Capitalise Headings */
h1, h2, h3, h4, .uk-heading-large, .uk-heading-2xlarge, .uk-heading-xlarge, .uk-heading-medium, .uk-h1, .uk-h2, .uk-h3, .uk-h4 {
    text-transform: capitalize;
}


html, body, .uk-text, h1, h2, li {
    font-family: var(--font-sans);
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
}

.uk-navbar-nav > li > a {
    font-family: var(--font-serif);
    text-transform: capitalize;
}

p {
    font-family: var(--font-serif);
}


h1 {
    color: var(--color-main);
}

.eus-background-prime {
    background-color: var(--color-main);
}

.eus-background-prime h1{
    color: white;
}

.eus-clip {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0% 100%);
    /* background-color: rebeccapurple; */
}

.uk-nav li .eus-text-50 {
    font-size: 40px;
    line-height: 1;
    padding: 20px 0;
}

.eus-text-xxlarge {
    font-size: xx-large;
}

.eus-height-300 {
    min-height: 300px;
}

.eus-height-100 {
    min-height: 150px;
}

.red {
    color: red;
}

#eus-sticky-logo {
    position: fixed;
    top: var(--logo-top);
    left: var(--logo-left);
    z-index: 10000;
}

.eus-logo-text {
    position: absolute;
    left: calc(var(--logo-left) +   60px);
    top: calc(var(--logo-top) +     20px);
}

.eus-logo-text img {
    width: 70%;
}

#eus-sticky-logo svg circle{
    fill:var(--color-main);
}

.uk-textarea {
    resize: none;
}

.eus-potsdam-bg {
    background-size: cover;
    background-image: url(../img/potsdam.jpg);
    background-color: rgb(117, 117, 117);
}

@media screen and (max-width: 600px) {
    #eus-smallhead {
        font-size: 1.1rem;
    }
}


.eus-table {
    border-collapse: collapse;

    min-width: 100%;
    width: 100%;
}

/* Agenda */

.eus-table tr td {
    padding: 2px 0px 3px 15px;
    border-bottom: 1px solid var(--color-main);
}

.no-border{
    border-bottom: none !important;
}

.eus-margin-0 {
    margin: 0 !important;
}

.eus-table tr 
td:nth-child(1),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4)
{
    color: var(--color-main);
    font-size: small;
    /* border: 1px solid red; */
    width: 20px;
}

.eus-table tr td:nth-child(1){
        display: none;
}

.eus-table tr td:nth-child(3){
        max-width: 0px; 
        padding-left: 5px;
}

.eus-table tr td:nth-child(4){
    padding-right: 10px;
}

/* 🕒 Zeit Ende */
.eus-table tr td:nth-child(5) {
    /* text-align: center; */
    font-size: x-large;
    line-height: 1;
    padding: 10px 30px 10px 0;
}

.eus-table tr .eus-flex1{
    padding: 5px 5px ;
    line-height: 1.3;
}

.eus-table tr .eus-flex1:nth-child(2){
    border-left: 1px solid var(--color-main);
}

.eus-table tr .eus-flex1:last-child{
    border-left: 1px solid var(--color-main);
}

.eus-table tr .eus-subevent{
    background-color: var(--color-main-light);
}

/* 🎨 Titelstyling für Subevent */
table tr .eus-subevent-title {
    color: var(--color-main);
    font-size: xx-large;
}

table tr .eus-subevent-title a {
    font-size: small;
    color: var(--color-main);
    border-bottom: 1px solid var(--color-main);
}

.eus-triplet {
    display: flex;
}

.eus-flex1{
    flex: 1;
}




.eus-Programmebreak {
    font-family: var(--font-serif);
    /* text-transform: uppercase; */
    letter-spacing: 0.5px;
    font-size:medium !important;
    color: var(--color-main);
    /* opacity: 50%; */
  }

.eus-subevent-row {
    background-color: var(--color-main-light);
}

/* separating two parallel Programme blocks */
.eus-separator {
    border-bottom: 10px solid white;
}

.eus-table .plenary td{
        background-color: var(--color-yellow-light);
}

.eus-entry {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    
    font-size: larger;
    line-height: 1;

}



.eus-line-height-1 {
    line-height: 1.1;
}

.eus-transform-none {
    text-transform: none;
}





::selection {
    background: var(--color-main);
}

/* Navbar transparent (Fixing uikit) */
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: rgba(255,255,255,0);
}

.eus-topborder{
    border-top: 1px solid var(--color-main);
    padding-top: 8px;
}


.eus-grid-column {
    display: flex;
    flex-wrap: wrap;
}

a:hover {
    color: var(--color-main);
    /* text-decoration: none !important; */
    /* border-top: 2px solid rgba(0,0,0,0); */
}

.eus-topbutton a:hover {
    color: white;
    text-decoration: none !important;
    /* border-top: 2px solid rgba(0,0,0,0); */
}

/* .eus-topbutton a:hover h3 { */
    /* border-bottom: 2px solid white; */
/* } */


.eus-topbutton:hover {
    /* border-bottom: 2px solid rgba(0,0,0,0); */
    transform: translate(0, 5px);
}

.eus-topbutton:active {
    /* border-bottom: 2px solid rgba(0,0,0,0); */
    transform: translate(0, 8px);
}

.eus-fee {
    display: inline-block; 
    width:80px; 
    max-width: calc(30vw);
    border-bottom:1px solid var(--color-main); 
    padding-bottom:10px;
    padding-right: 10px;
}

.eus-fee-title {
    max-width: 100vw;
    border-bottom: none;
    padding-bottom: 0px;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important; 
    margin-top: 0;
    
}

.eus-fee-details {
    margin-left:0px;
}

.eus-fee-spacer {
    width:260px;    
}



@media screen and (max-width: 600px) {
    .eus-triplet {
        flex-direction: column;
    }
    .eus-table tr .eus-flex1:nth-child(2), .eus-table tr .eus-flex1:last-child{
        border-left: none
    }

    .eus-table tr td {
        border: none;
    }

    /* 👾🎨🖌️ Zeichen hinzufügen mit CSS */
    /* 🎨 Verwende die ::before oder ::after Pseudo-Elemente, um ein Zeichen hinzuzufügen */
    .eus-flex1::before {
        content: "| "; /* 👾 Zeichen */
        /* 🎨 Stil hinzufügen */
        color: var(--color-main); 
        font-weight: bold;

    }
}

@media screen and (max-width: 900px) {
    .eus-width-1-1-mobile { 
        width: 300px;
        padding:  0px 0 0px 30px;
        margin: 0;
    }
    .eus-width-1-1-mobile h1{ 
        padding-top: 60px;
    }
    .eus-width-1-1-mobile:last-child { 
        padding-bottom: 30px;
    }
}
    